extends layout

block content

	h1= title
	p Please enter a country name to see more information about it.
	div
		input(name="searchInput")#inputField 
	div#btn-div
		button#country-btn Search Countries
	#CountryContainer
		